*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}

p{
    position: relative;
    margin-top: 5%; 
    font-family: Poppins; color: #a8b0bd; 
    font-size: 12pt;
    left: 15%;
    color:  black;
  }

.fundo{
    display: none;
    margin-left: 30%;
    margin-top: 8%;
    width: 40%;
    height: auto;
    border: 3px solid #d1dce0;
}
h1{
    position: absolute;
    margin-top: 2.5%;
    margin-left: 2.5%; 
    font-size: 18pt;
    color:  #007CA5;
}

  select{
      display: block;
      height: auto;
      width: 50%;
      position: relative;
      margin-left: 15%;
      margin-top: 3%;
      border-radius: 3px;
      border: 1px solid #b2becd;
      border-bottom-width: solid;
      border-left-width: solid;
      border-top-width: solid;
      border-right-width: solid;
  }


.caixaTexto {
  position: relative;
  
}

input{
  font-family: Poppins;
  font-size: 12pt;
  color: #007CA5;
}

.caixaTexto input {
  display: block;
  width: 65%;
  height: 6%;
  margin-left: 15%;
  margin-top: 10%;
  border-radius: 3px;
  border: 1px solid #b2becd;
  border-bottom-width: solid;
  border-left-width: solid;
  border-top-width: solid;
  border-right-width: solid;
}

form{
    margin-top: 20%;
}

.caixaTexto input:focus {
  border: 1px solid #3ba6f7;
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}

.caixaTexto label {
  color: black;
  position: absolute;
  margin-left: 18%;
  margin-top: -6.5%;
  background-color: white;
  transition: .4s;
}
.botao{
    font-size: 12pt;
    text-align: center;
    width: 45%;
    height: 6%;
    background-color: #007CA5;
    color: #fff;
    margin-left: 25%;
    margin-top: 7%;
    margin-bottom:2%;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}